- var custom = {};

doctype html

include _mixins
include _mixins_forms

block html
  <!--[if lt IE 7]><html id="html" class="no-js lt-ie9 lt-ie8 lt-ie7" lang='es' xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
  <!--[if IE 7]><html id="html" class="no-js ie7 lt-ie9 lt-ie8" lang='es' xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
  <!--[if IE 8]><html id="html" class="no-js ie8 lt-ie9" lang="es" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
  <!--[if IE 9]><html id="html" class="no-js ie9 lt-ie10" lang="es" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
  html#html(lang='es')
    //<![endif]
    head
      title #{config.settings.project_name} | #{custom.title}
      meta( charset='utf-8' )
      meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
      meta( name="viewport",content="width=device-width,initial-scale=1.0")
      meta( name='description', content!="")
      meta( property="og:type", content!="website")
      meta( property="og:url", content!="")
      meta( property="og:title", content!="")
      meta( property="og:image", content!="")
      meta( property="og:description", content!="")
      link( rel='icon', type='image/png', href!=config.static_url('favicon.ico') )
      <!--[if gte IE 6 & lt IE 9]><script src!="<?php echo $this->basePath() ?>/site/scripts/libs/html5shiv.js"></script><![endif]-->
      <!--[if gte IE 6 & lt IE 9]><script src!="<?php echo $this->basePath() ?>/site/scripts/libs/selectivizr.js"></script><![endif]-->
      <!--[if lte IE 9]><script> window._ie = true; </script><![endif]-->
      block styles
        link(href!=config.static_url('styles/main.css'), rel='stylesheet')
      +tracking
    body#body(class=custom.body_cls ? custom.body_cls:'')
      block content
        //- Inicio de header
        block headerx
          include includes/_header
        //- Fin de header
        main
          //- Inicio de contenido
          block main
          //- Fin contenido

        //- Inicio Footer
        block footer
          include includes/_footer
        //- Fin footer
      block addons
        +social(['fb','tw'])
      block scripts
