vendor/
composer.phar
composer.lock
config/autoload/*local.php
config/autoload/database.php
.environment
data/logs/
data/cache/
data/sessions/
data/tmp/
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

public/captcha/
public/media/
