extend ../../_layout

prepend html
  - custom.title = 'Gracias'
  - custom.body_cls = 'thanks-body'

block content
  .thanks-wrapper
    | Gracias!

block scripts
  +requireTag('site.thanks')