/* glue: 0.9.2 hash: 2ded3374fb */
.shape-fifteen{
    background-image:url('../sprites/shapes.png?2ded3374fb');
    background-repeat:no-repeat;
}

.shape-fifteen{
    background-position:-10px -10px;
    width:195px;
    height:202px;
}


@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0),screen and (-o-min-device-pixel-ratio: 100/100),screen and (min-device-pixel-ratio: 1.0),screen and (min-resolution: 1.0dppx){
    .shape-fifteen
    {
        background-image:url('../sprites/shapes.png?2ded3374fb');
        -webkit-background-size: 215px 222px;
        -moz-background-size: 215px 222px;
        background-size: 215px 222px;
    }
}
